version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: event-manager-db
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"
    restart: always
